* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/IMAGES/mbp.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

#main_part {
  width: 100%;
  height: 600px;
  padding: 6.5% 12.5% 0% 12.5%;
  box-sizing: border-box;
}

#signup {
  width: 40%;
  float: left;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 20px;
  height: 550px;
  /* Making the background transparent */
  background: rgba(0, 0, 0, 0.8);
  /* background: #fff; */

  /* adding shadow to the signup box */
  box-shadow: 0px 0px 30px #333;
}

#title {
  width: 38%;
  border-radius: 100%;
  margin: -22% auto 8% auto;
  height: 120px;
  background: rgba(0, 0, 0, 0.9);
  text-align-last: center;
  /* To change to color of the title icon, use the code below */
  color: #0c9;
}


#title i {
  line-height: 110px;
  font-size: 40px;
}

#login {
  width: 40%;
  float: right;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 20px;
  height: 500px;
  /* Making the background transparent */
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 30px #333;
}

#input {
  width: 100%;
  height: 35px;
  background: #fff;
  border-radius: 20px;
  margin: 2%;
}

#input i {
  width: 10%;
  line-height: 35px;
  text-align: right;
  /* To change the color of the icons add the code below*/
  color: #0c9;
  /* To change the size of the icons */
  /* font-size: 12px;  */
}

#input input {
  width: 80%;
  height: 35px;
  background: none;
  outline: none;
  border-width: 0px;
  padding-left: 4%;
  box-sizing: border-box;
}

#input select {
  /* margin-left: 5%; */
  border: 1px solid #fff;
  width: 80%;
  height: 32px;
  background: none;
  outline: none;
  padding-left: 2.2%;
  box-sizing: border-box;
}

#btn {
  width: 48%;
  height: 35px;
  background: none;
  border: 2px solid #0c9;
  border-radius: 20px;
  margin-top: 5%;
  color: #fff;
}

#btn:hover {
  cursor: pointer;
  background: #0c9;
  color: #fff;
}

#for_pass {
  margin-top: 5%;
  cursor: pointer;
  color: #fff;
}